body {
  margin: 0;
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 60px;
  height: 60px;
  border: 8px solid #444;
  border-top: 8px solid #00ffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff33;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
