body {
  background: #f0f0f0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 400px;
}

textarea {
  width: 100%;
  min-height: 50px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  resize: none;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
