* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.editor-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100vh;
  background: linear-gradient(to bottom, #ff0000, #0000ff);
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #777;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 5px #00000070;
  z-index: 3;
  height: 38px;
}
#nav div {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 5px;
  color: #fff;
  font-size: 18px;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
}
li:first-child {
  border-radius: 10px 0 0 0;
}
li.active {
  background: #fff;
  color: #000;
}
li:hover {
  background: #ccc;
  color: #000;
}
section#editor-section {
  height: calc(100% - 38px);
  position: relative;
}
.editor {
  width: 100%;
  height: 50%;
  overflow: auto;
}
.CodeMirror {
  padding: 5px;
  height: calc(100% - 10px);
  border-radius: 0 0 10px 10px;
  font-size: 15px;
}
.CodeMirror-scroll {
  scroll-behavior: smooth;
}

.preview {
  width: 100%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  z-index: 10;
}
#preview-frame {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  position: relative;
}
#toggle-preview {
  width: 20px;
  height: 20px;
  bottom: 5px;
  right: 5px;
  border-bottom-right-radius: 7px;
  border: 1px solid #777;
  cursor: pointer;
  position: absolute;
}
#toggle-preview span {
  display: inline-block;
  color: red;
  transform: rotate(133deg);
}
.expanded {
  position: absolute;
  height: 100%;
  top: 0;
}
